.divTable{
display: table;	
background-color: #9EE8B3;
border:4px;
}
.divRow{
display: table-row;
width:auto;
}
.divCell{
display: table-cell;
padding: 3px 10px;
}
.divHead{
display: table-header-group;
background-color: #99C2E8;
font-weight: bold
}
.divHeading{
font-weight: bold;	
display: table-cell;
padding: 3px 10px;
}
p{
	background-color: #99C2E8;
}